form {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.field_content {
  display: block;
  width: 90%;
  height: 2rem;
  font-size: 90%;
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
  color: var(--grey);
  margin-bottom: 5%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .field_content {
	  height: 1.5rem;
    font-size: 80%;
    margin-bottom: 3%;
  }
}

.button { 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 2%;  
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .button {
    font-size: 1rem;
	  padding: 10px 20px;
  }
}

.reset {
  background-color: orangered;
}

.submit {
  background-color: #00b300;
}

.asterisk {
  color: orangered
}





